.container{
    border: 2px solid red;
    padding: 20px;
    h3{
        color: white;
        background-color: tomato;
        text-align: center;

    }
    p{
        background-color: wheat;
        text-align: center;
    }

}